{% extends "::base.html.twig" %}

{% block title %}CABlogBundle:Blog:index{% endblock %}

{% block body %}
<h1> {{ posts[0].user.username }}'Profile</h1>



   {% for post in posts  %}
   <div class="post">
        <p><a href="{{path('post_post', {'id': post.id}) }}">{{ post.title }}</a> {{ post.created|date('Y-m-d H:i:s') }} by </p>
        <a href="{{path('post_show', {'id': post.id}) }}">User</a>
        <p> {{ post.content }} </p>
   </div>
   <hr />


{% endfor %}
{% endblock %}
